.user {
    text-align: center;
    max-width: 25rem;
    height: 20rem;
    width: 100%;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 4rem;
    position: relative;
    background-color: white;
    color: white;
    border-radius: 18px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }
  
  .user h2 {
    font-size: 2rem;
    margin-top: 0;
    color: #2E4053;
  }

.light {
  background-color: white;
  color: white;
}

.dark {
  /* Dark theme styles for UserLogin component */
  background-color: #1E1E1E;
  color: #fff;
}